@charset "UTF-8";

table {
	width : 70%;
	margin: auto;
	
}

th {
		text-align: center;
		background-color: #4080bf;
		font-size:90%;
		color: white;
		width: 35%;
		border-radius : 3px;
}
input > .btn {
	font-family : 'Gugi', cursive;
	font-size : 10px;
}

.btn {
	background-color: white;
	color : gray;
	cursor : pointer;
	text-align: center;
	border : 1px solid gray;
	border-radius: 5px;
	padding : 10px 20px;
	display: inline-block;
	margin-left: auto;
}

